<ul class="nav-right-hor">
  	<li  class="main-nav-text nav-boek {% if nav.selected %}selected{% endif %} not-bp4">
    	<a href="/#overons">Boek nu</a>
  	</li>
    <li class="main-nav-text nav-fb {% if nav.selected %}selected{% endif %} not-bp4">
      <a href="https://www.facebook.com/BelMondoTapasFoodBar" target="_blank">Facebook</a>
    </li>
</ul>
 